.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

__pycache__/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
750

# DB_data
backend/src/fill_DB/
# kazan.py
# https://drive.google.com/drive/folders/1ERPKJI0AbA1h0Ok_AP4tPyePrBcE_omb
# <iframe width="100%" height="500px" 
#     src="https://www.youtube-nocookie.com/embed/zrUvwQKAixQ" t
#     itle="YouTube video player" 
#     frameborder="0" allow="accelerometer; 
#     autoplay; clipboard-write; 
#     encrypted-media; gyroscope; 
#     picture-in-picture" 
#     allowfullscreen>
# </iframe>